<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>L O G I N</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button (click)="login()">Login</ion-button>
</ion-content>
